/* reset*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

/* estilos body */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #866489;
}

/* estilos link, párrafos */

a, p, h1, h2, h3, h4{
    color: #ebdbc3;
}

a:hover{
    color: #ebdbc3;
}

/* estilos body-grid */

.body-grid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

/* estilos header */

header{
    background-color: #735376;
    grid-area: header;
    padding: 1rem 0;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo img{
    height: 4rem;
}

header div div h1 a{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
}

header div div h1 a:hover{
    text-shadow: 3px 2px 5px black;
}

/* estilos nav */

nav div div ul{
    list-style: none;
}

nav div div ul li{
    text-shadow: 3px 2px 5px black;
}

.menu-link{
    text-decoration: none;
    color: #ebdbc3;
    font-size: 1rem;
}

/* estilos main */

main{
    grid-area: main;
}

.main-gral-padding{
    padding: 0 1rem;
}

.main-gral-margin{
    margin: 1rem 0;
}

/* estilos footer */

footer{
    background-color: #735376;
    grid-area: footer;
}

footer div{
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div div{
    display: flex;
    flex-direction: column;
}

footer div div div{
    display: flex;
    flex-direction: row;
}

footer div div a{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
    text-align: center;
    margin: 0.3rem 0;
}

footer div div a:hover{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
}

footer div div p{
    text-shadow: 3px 2px 5px black;
}

.img-footer{
    height: 2.1rem;
    margin: 0 1rem;
    border-radius: 5px;
    box-shadow: 3px 2px 5px black ;
}

.img-footer:focus{
    transform: scale(1.3);
}

.p-footer{
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    text-shadow: 3px 2px 5px black;
    padding: 0.5rem 0;
}

/* boton de whatsapp */

.boton-wap{
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    z-index: 2;
}
.boton-wap-imagen{
    height: 2.8rem;
    width: 2.8rem;
}

.boton-wap-imagen:focus{
    transform: scale(0.7);
}

/* ESTILOS PARTICULARES */

/* estilos -> Home */

.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crl-img-home{
    width: 100%;
}

.img-home{
    height: 15rem;
    border-radius: 10px;
}

/* estilos -> About Me */

.h2-about-me{
    text-align: center;
}

.div-about-me{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.p-about-me{
    padding: 0 1rem;
}

.img-about-me{
    height: 20rem;
    margin: 1rem 0;
}

/* estilos -> Clases */

.estilos-clases{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilos-card-clases{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.estilos-img-clases{
    height: 11.2rem;
    width: 100%;
    margin-top: 1rem;
}

/* estilos -> E-book */

.catalogo-e-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.e-book{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-e-book{
    padding: 1rem 0;
}

.img-e-book{
    width: 150px;
    height: 100%;
}

.a-e-book{
    background-color: #ebdbc3;
    color: #735376;
    text-decoration: none;
    padding: 0.8rem 2rem;
    box-shadow:3px 2px 5px black ;
}

/* estilos -> Contacto */

form{
    display: flex;
    justify-content: center;
}

fieldset{
    width: 90%;
}

fieldset legend{
    color: #ebdbc3;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

fieldset div{
    display: flex;
    flex-direction: column;
}

fieldset div label{
    color: #ebdbc3;
    margin: 1rem 0;
}

fieldset div input{
    border-radius: 1rem;
    box-shadow: 3px 2px 5px black;
}

fieldset div textarea{
    border-radius: 1rem;
    box-shadow: 3px 2px 5px black ;
}

.button-contacto{
    display: flex;
    flex-direction: row;
}

.form-button{
    background-color: #ebdbc3;
    color: #735376;
    height: 2rem;
    width: 50%;
    margin: 1rem;
}

@media screen and (min-width:768px){

    /* ESTILOS GENERALES */

    /* ESTILOS PARTICULARES */

    /* estilos -> Home */

    .crl-img-home{
        width: 95%;
    }

    .img-home{
        height: 25rem;
    }
    
    /* estilos -> Clases */

    .estilos-img-clases{
        width: 50%;
    }

    /* estilos -> Contacto */

    fieldset{
        width: 80%;
    }

    fieldset div{
        flex-direction: row;
        justify-content: center;
    }

    fieldset div label{
        width: 35%;
    }

    fieldset div input{
        margin: 0.7rem 0;
        width: 40%;
    }

    fieldset div textarea{
        margin: 0.7rem 0;
        width: 40%;
    }

    .form-button{
        width: 25%;
    }

}

@media screen and (min-width:992px){

    /* ESTILOS GENERALES */

    /* estilos nav */

    nav div div ul{
        border-bottom: 2px solid #ebdbc3;
    }
    
    nav div div ul li{
        padding: 0.6rem;
    }
    
    .menu-link{
        font-size: 1.2rem;
    }    

    .menu-link:hover{
        color: #ebdbc3;
        box-shadow: 1px 1px 5px #ebdbc3;
        transform: scale(0.9);
    }

    /* estilos main */

    .main-gral-margin{
        margin: 1.5rem;
    }

    /* estilos footer */

     footer div{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img-footer:hover{
        transform: scale(1.3);
    }
   
    /* boton de whatsapp */

    .boton-wap-imagen:hover{
        transform: scale(0.8);
    }

    /* ESTILOS PARTICULARES */

    /* estilos -> Home */
    
    .main-index{
        flex-direction: row;
        align-items: center;
    }

    .crl-img-home{
        width: 200%;
    }

    .p-home{
        margin: 0 2rem;
    }
    
    /* estilos -> About Me */

    .div-about-me{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .p-about-me{
        width: 50%;
    }

    .img-about-me{
        width: auto;
    }

    /* estilos -> Clases */

    .estilos-clases{
        flex-direction: row;
    }
    
    .estilos-img-clases{
        height: 12.5rem;
    }

    .p-clases{
        margin: 0 1rem;
    }
    
    /* estilos -> E-book */

    .catalogo-e-book{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .e-book{
        border: 2px solid grey;
    }    

    .img-e-book{
        width: 100%;
        height: 300px;
    }
    
    .a-e-book:hover{
        border: 1px solid #ebdbc3;
        background-color: #735376;
        color:#ebdbc3;
        box-shadow: 3px 2px 5px black ;
    }

    /* estilos -> Contacto */

    fieldset{
        width: 50%;
    }

    fieldset div label{
        width: 25%;
    }

    .form-button{
        width: 20%;
    }

    .form-button:hover{
        border: 1px solid #ebdbc3;
        background-color: #735376;
        color:#ebdbc3;
        box-shadow: 3px 2px 5px black ;
    }

}