/* reset*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

/* ESTILOS GENERALES */

/* estilos body */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #866489;
}

/* estilos link, párrafos */

a, p, h1, h2, h3, h4{
    color: #ebdbc3;
}

a:hover{
    color: #ebdbc3;
}

/* estilos body-grid */

.body-grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr ;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

/* estilos header */

header{
    background-color: #735376;
    grid-area: header;
    padding: 1rem 0;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo img{
    height: 4rem;
}

header div div h1 a{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
}

header div div h1 a:hover{
    text-shadow: 3px 2px 5px black;
}

/* estilos nav */

nav div div ul{
    list-style: none;
}

nav div div ul li{
    text-shadow: 3px 2px 5px black;
}

.menu-link{
    text-decoration: none;
    color: #ebdbc3;
    font-size: 1rem;
}

/* estilos main */

main{
    grid-area: main;
}

.main-gral-padding{
    padding: 0 1rem;
}

.main-gral-margin{
    margin: 1rem 0;
}

/* estilos footer */

footer{
    background-color: #735376;
    grid-area: footer;
}

footer div{
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div div{
    display: flex;
    flex-direction: column;
}

footer div div div{
    flex-direction: row;
}

footer div div a{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
    margin-bottom: 0.8rem;
    text-align: center;
}

footer div div a:hover{
    text-decoration: none;
    text-shadow: 3px 2px 5px black;
}

footer div div p{
    text-shadow: 3px 2px 5px black;
    padding-bottom: 1rem;
}

.img-footer{
    height: 2rem;
    margin: 0 1rem;
}

.img-footer:focus{
    transform: scale(1.3);
}

.p-footer{
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    text-shadow: 3px 2px 5px black;
    padding-bottom: 1rem;
}

/* boton de whatsapp */

.boton-wap{
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.boton-wap-imagen{
    height: 45px;
    width: 45px;
}

.boton-wap-imagen:focus{
    transform: scale(0.8);
}

/* ESTILOS PARTICULARES */

/* estilos -> Home */

.main-index{
    display: flex;
    flex-direction: column;
}

.img-home{
    height: 15rem;
}

/* estilos -> About Me */

.h2-about-me{
    text-align: center;
}

.div-about-me{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.p-about-me{
    padding: 0 1rem;
}

.img-about-me{
    height: 20rem;
    margin: 1rem 0;
}

/* estilos -> Clases */

.estilos-clases{
    display: flex;
    flex-direction: column;
}

.estilos-img-clases{
    height: 180px;
    width: 100%;
    margin-top: 1rem;
}

/* estilos -> E-book */

.catalogo-e-book{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.e-book{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-e-book{
    padding: 1rem 0;
}

.img-e-book{
    width: 150px;
    height: 100%;
}

.a-e-book{
    background-color: #ebdbc3;
    color: #735376;
    text-decoration: none;
    padding: 0.8rem 2rem;
    box-shadow:3px 2px 5px black ;
}

/* estilos -> Contacto */

fieldset{
    width: 800px;
}

fieldset legend{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

fieldset div{
    margin-top: 25px;
}

div label{
    width: 200px;
    display: inline-block;
    margin: 0 0 0 100px;
}

.form-button{
    color: white;
    background: blue;
    height: 30px;
    width: 70px;
    margin: 0 150px 50px;
}



@media screen and (min-width:992px){

    /* ESTILOS GENERALES */

    /* estilos header */

    /* estilos nav */

    nav div div ul{
        border-bottom: 2px solid #ebdbc3;
    }
    
    nav div div ul li{
        padding: 0.6rem;
    }
    
    .menu-link{
        font-size: 1.2rem;
    }    

    .menu-link:hover{
        color: #ebdbc3;
        box-shadow: 1px 1px 5px #ebdbc3;
        transform: scale(0.9);
    }

    /* estilos main */

    .main-gral-margin{
        margin: 1.5rem;
    }

    /* estilos footer */

     footer div{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img-footer:hover{
        transform: scale(1.3);
    }
   
    /* boton de whatsapp */

    .boton-wap-imagen:hover{
        transform: scale(0.8);
    }

    /* ESTILOS PARTICULARES */

    /* estilos -> Home */
    
    .main-index{
        flex-direction: row;
        align-items: center;
    }

    .img-home{
        width: 100vw;
        height: 30rem;
    }

    .p-home{
        margin: 0 2rem;
    }
    
    /* estilos -> About Me */

    .div-about-me{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .p-about-me{
        width: 50%;
    }

    .img-about-me{
        width: auto;
    }

    /* estilos -> Clases */

    .estilos-clases{
        flex-direction: row;
    }
    
    .estilos-img-clases{
        height: 200px;
        width: 50%;
    }

    .p-clases{
        margin: 0 1rem;
    }
    
    /* estilos -> E-book */

    .catalogo-e-book{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .e-book{
        border: 2px solid grey;
    }    

    
    .img-e-book{
        width: 100%;
        height: 300px;
    }
    
    .a-e-book:hover{
        border: 1px solid #ebdbc3;
        background-color: #735376;
        color:#ebdbc3;
        box-shadow: 3px 2px 5px black ;
    }










}