@charset "UTF-8";
/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/ }

/* Extend */
/* ESTILOS PARTICULARES */
/* estilos -> Clases */
div main .estilos-clases, div main .estilos-clases .estilos-card-clases {
  display: flex;
  flex-direction: column; }

/* estilos -> Contacto */
div main form fieldset .button-contacto {
  display: flex;
  flex-direction: row; }

/* ESTILOS GENERALES */
/* estilos body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #866489; }

/* estilos link, párrafos */
a, p, h1, h2, h3, h4 {
  color: #ebdbc3; }
  a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover {
    color: #ebdbc3; }

/* estilos body-grid */
.body-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr 1fr 0.5fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

/* estilos header */
div header {
  background-color: #735376;
  grid-area: header;
  padding: 1rem 0; }
  div header nav div .header-logo {
    display: flex;
    align-items: center;
    gap: 1rem; }
    div header nav div .header-logo img {
      height: 4rem; }
    div header nav div .header-logo h1 a {
      text-decoration: none;
      text-shadow: 3px 3px 5px black;
      font-size: 2rem; }
      div header nav div .header-logo h1 a:hover {
        text-shadow: 3px 3px 5px black; }

/* estilos nav */
div header nav div div ul {
  list-style: none; }
  div header nav div div ul li {
    text-shadow: 3px 3px 5px black; }
    div header nav div div ul li .menu-link {
      text-decoration: none;
      color: #ebdbc3;
      font-size: 1.2rem; }

/* estilos main */
div main {
  grid-area: main; }

div .main-gral-padding {
  padding: 0 2rem; }

div .main-gral-margin {
  margin: 1rem 0; }

/* estilos footer */
div footer {
  background-color: #735376;
  padding-top: 1rem;
  grid-area: footer; }
  div footer div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    div footer div div {
      display: flex;
      flex-direction: column; }
    div footer div div div {
      display: flex;
      flex-direction: row; }
    div footer div div p {
      margin-top: 1rem;
      text-shadow: 3px 3px 5px black; }
    div footer div div a {
      text-decoration: none;
      text-shadow: 3px 3px 5px black;
      text-align: center;
      margin: 0.3rem 0; }
      div footer div div a:hover {
        text-decoration: none;
        text-shadow: 3px 3px 5px black; }
      div footer div div a .img-footer {
        height: 2.1rem;
        margin: 0 1rem;
        border-radius: 5px;
        box-shadow: 3px 3px 5px black; }
        div footer div div a .img-footer:focus {
          transform: scale(1.3); }
  div footer .p-footer {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    text-shadow: 3px 3px 5px black; }

/* boton de whatsapp */
.boton-wap {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 2; }
  .boton-wap .boton-wap-imagen {
    height: 2.8rem;
    width: 2.8rem; }
    .boton-wap .boton-wap-imagen:focus {
      transform: scale(0.7); }

/* ESTILOS PARTICULARES */
/* estilos -> Home */
div .main-index {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  div .main-index .crl-img-home {
    width: 100%; }
    div .main-index .crl-img-home .img-home {
      height: 12rem;
      border-radius: 10px; }
  div .main-index .div-index p {
    text-align: justify;
    font-size: 1.1rem; }
    div .main-index .div-index p span {
      text-decoration: underline;
      font-style: italic; }

/* estilos -> About Me */
div main .h2-about-me {
  text-align: center; }

div main .div-about-me {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center; }
  div main .div-about-me .p-about-me {
    text-align: justify;
    font-size: 1.1rem; }
    div main .div-about-me .p-about-me span {
      font-weight: bold;
      text-decoration: underline; }
  div main .div-about-me .img-about-me {
    height: 20rem;
    margin: 1rem 0; }

/* estilos -> Clases */
div main .p-clases {
  text-align: justify;
  font-size: 1.1rem; }

div main .estilos-clases {
  align-items: center; }
  div main .estilos-clases .estilos-card-clases {
    align-items: center; }
    div main .estilos-clases .estilos-card-clases .estilos-img-clases {
      height: 11.2rem;
      width: 100%;
      margin-top: 1rem; }
    div main .estilos-clases .estilos-card-clases .p-card-clases {
      text-align: justify;
      font-size: 1.1rem; }

/* estilos -> E-book */
div main p {
  text-align: justify;
  font-size: 1.1rem; }

div main .catalogo-e-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0; }
  div main .catalogo-e-book .e-book {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    div main .catalogo-e-book .e-book .img-e-book {
      width: 150px;
      height: 100%; }
    div main .catalogo-e-book .e-book .p-card-e-book {
      padding: 1rem 0; }
    div main .catalogo-e-book .e-book .a-e-book {
      background-color: #ebdbc3;
      color: #735376;
      text-decoration: none;
      padding: 0.8rem 2rem;
      box-shadow: 3px 3px 5px black; }

/* estilos -> Contacto */
div main form {
  display: flex;
  justify-content: center; }
  div main form fieldset {
    width: 85%; }
    div main form fieldset legend {
      color: #ebdbc3;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center; }
    div main form fieldset div {
      display: flex;
      flex-direction: column; }
      div main form fieldset div label {
        color: #ebdbc3;
        font-size: 1.1rem;
        margin: 1rem 0; }
      div main form fieldset div input {
        border-radius: 1rem;
        box-shadow: 3px 3px 5px black; }
      div main form fieldset div textarea {
        border-radius: 1rem;
        box-shadow: 3px 3px 5px black; }
    div main form fieldset .button-contacto .form-button {
      background-color: #ebdbc3;
      color: #735376;
      height: 2rem;
      width: 50%;
      margin: 1rem; }

/* MEDIA QUERIES 768PX */
@media screen and (min-width: 768px) {
  /* ESTILOS GENERALES */
  div footer div {
    flex-direction: row;
    justify-content: space-evenly; }
    div footer div div p {
      margin-top: 0; }
  /* ESTILOS PARTICULARES */
  /* estilos -> Home */
  div .main-index .crl-img-home {
    width: 95%; }
    div .main-index .crl-img-home .img-home {
      height: 25rem; }
  div .main-index .div-index {
    width: 95%; }
  /* estilos -> About Me */
  div main .div-about-me .p-about-me {
    width: 95%; }
  /* estilos -> Clases */
  div main .p-clases {
    padding-top: 1rem; }
  div main .estilos-clases .estilos-card-clases .estilos-img-clases {
    width: 50%; }
  /* estilos -> Contacto */
  div main form fieldset {
    width: 80%; }
    div main form fieldset div {
      flex-direction: row;
      justify-content: center; }
      div main form fieldset div label {
        width: 35%; }
      div main form fieldset div input {
        margin: 0.7rem 0;
        width: 40%; }
      div main form fieldset div textarea {
        margin: 0.7rem 0;
        width: 40%; }
    div main form fieldset .button-contacto .form-button {
      width: 25%; } }

/* MEDIA QUERIES 992PX */
@media screen and (min-width: 992px) {
  /* ESTILOS GENERALES */
  /* estilos nav */
  div header nav div div ul {
    border-bottom: 2px solid #ebdbc3; }
    div header nav div div ul li {
      padding: 0.6rem; }
      div header nav div div ul li .menu-link {
        font-size: 1.2rem; }
        div header nav div div ul li .menu-link:hover {
          color: #ebdbc3;
          box-shadow: 1px 1px 5px #ebdbc3;
          transform: scale(0.9); }
  /* estilos main */
  div .main-gral-margin {
    margin: 1.5rem; }
  /* estilos footer */
  div footer div div a .img-footer:hover {
    transform: scale(1.3); }
  /* boton de whatsapp */
  .boton-wap .boton-wap-imagen:hover {
    transform: scale(0.8); }
  /* ESTILOS PARTICULARES */
  /* estilos -> Home */
  div .main-index {
    flex-direction: row;
    align-items: center; }
    div .main-index .div-index {
      height: 25rem;
      display: flex;
      flex-direction: column;
      align-items: space-around; }
  /* estilos -> About Me */
  div main .div-about-me {
    flex-direction: row;
    justify-content: space-evenly; }
    div main .div-about-me .p-about-me {
      width: 55%; }
    div main .div-about-me .img-about-me {
      width: auto;
      margin-bottom: 1.2rem; }
  /* estilos -> Clases */
  div main .estilos-clases {
    flex-direction: row;
    align-items: start; }
    div main .estilos-clases .estilos-card-clases {
      width: 50%; }
      div main .estilos-clases .estilos-card-clases .estilos-img-clases {
        height: 12.5rem; }
      div main .estilos-clases .estilos-card-clases .p-card-clases {
        margin: 0 1rem; }
  /* estilos -> E-book */
  div main .catalogo-e-book {
    flex-direction: row;
    justify-content: space-evenly; }
    div main .catalogo-e-book .e-book {
      border: 2px solid grey; }
      div main .catalogo-e-book .e-book .img-e-book {
        width: 100%;
        height: 300px; }
      div main .catalogo-e-book .e-book .a-e-book:hover {
        border: 1px solid #ebdbc3;
        background-color: #735376;
        color: #ebdbc3;
        box-shadow: 3px 3px 5px black; }
  /* estilos -> Contacto */
  div main form fieldset {
    width: 50%; }
    div main form fieldset div label {
      width: 25%; }
    div main form fieldset .button-contacto .form-button {
      width: 20%; }
      div main form fieldset .button-contacto .form-button:hover {
        border: 1px solid #ebdbc3;
        background-color: #735376;
        color: #ebdbc3;
        box-shadow: 3px 3px 5px black; } }

/* MEDIA QUERIES 1400PX */
@media screen and (min-width: 1400px) {
  /* ESTILOS GENERALES */
  /* estilos nav */
  div header nav div div ul li .menu-link {
    font-size: 1.3rem; }
    div header nav div div ul li .menu-link:hover {
      color: #ebdbc3;
      box-shadow: 1px 1px 5px #ebdbc3;
      transform: scale(0.9); } }
