
/* MEDIA QUERIES 992PX */

@media screen and (min-width:992px){

    /* ESTILOS GENERALES */

    /* estilos nav */

    div{
        header{
            nav{
                div{
                    div{
                        ul{
                            border-bottom: 2px solid $color-text;
                            li{
                                padding: 0.6rem;
                                .menu-link{
                                    font-size: 1.2rem;
                                    &:hover{
                                        color: $color-text;
                                        box-shadow: 1px 1px 5px $color-text;
                                        transform: scale(0.9);
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }

    /* estilos main */

    div{
        .main-gral-margin{
            margin: 1.5rem;
        }
    }

    /* estilos footer */

    div{
        footer{
            div{
                div{
                    a{
                        .img-footer:hover{
                            transform: scale(1.3);
                        }
                    }

                }
            }
        }
    }

    /* boton de whatsapp */

    .boton-wap{
        .boton-wap-imagen:hover{
            transform: scale(0.8);
        }
    }

    /* ESTILOS PARTICULARES */

    /* estilos -> Home */

    div{
        .main-index{
            flex-direction: row;
            align-items: center;
            .div-index{
                height: 25rem;
                display: flex;
                flex-direction: column;
                align-items:space-around;
            }
        }
    }

    /* estilos -> About Me */

    div{
        main{
            .div-about-me{
                flex-direction: row;
                justify-content: space-evenly;
                .p-about-me{
                    width: 55%;
                }
                .img-about-me{
                    width: auto;
                    margin-bottom: 1.2rem;
                }
            }
        }
    }

    /* estilos -> Clases */

    div{
        main{
            .estilos-clases{
                flex-direction: row;
                align-items: start;
                .estilos-card-clases{
                    width: 50%;
                    .estilos-img-clases{
                        height: 12.5rem;
                    }
                    .p-card-clases{
                        margin: 0 1rem;
                    } 
                }
            }
        }
    }

    /* estilos -> E-book */

    div{
        main{
            .catalogo-e-book{
                flex-direction: row;
                justify-content: space-evenly;
                .e-book{
                    border: 2px solid grey;
                    .img-e-book{
                        width: 100%;
                        height: 300px;
                    }
                    .a-e-book:hover{
                        @include boton;
                    }
                }
            }
        }
    }

    /* estilos -> Contacto */

    div{
        main{
            form{
                fieldset{
                    width: 50%;
                    div{
                        label{
                            width: 25%;
                        }
                    }
                    .button-contacto{
                        .form-button{
                            width: 20%;
                            &:hover{
                                @include boton;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* MEDIA QUERIES 1400PX */

@media screen and (min-width:1400px){

    /* ESTILOS GENERALES */

    /* estilos nav */

    div{
        header{
            nav{
                div{
                    div{
                        ul{
                            li{
                                .menu-link{
                                    font-size: 1.3rem;
                                    &:hover{
                                        color: $color-text;
                                        box-shadow: 1px 1px 5px $color-text;
                                        transform: scale(0.9);
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}