@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column-reverse-items-center{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}